<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag "application", 'launchpad/application' %>
  <%= javascript_include_tag "application", 'launchpad/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= launchpad_header_tag %>
  <%= launchpad_menu_tag do %>
    <%= launchpad_menu_item_tag "Sponsors", "http://google.com" %>
    <%= launchpad_menu_item_tag "Support", "http://google.com" %>
  <% end %>
  <%= launchpad_surround_tag do %>
    <h1>Welcome!</h1>
    <%= yield %>
  <% end %>
</body>
</html>
